.o-list-horz {
  $block: &;

  @include clearfix();

  &__item {
    float: left;
  }
    &__link {
      display: block;
      line-height: 40px;
      padding: 0 15px;
    }

  &--border {
    #{$block}__item + #{$block}__item {
      border-left: none;
    }
    #{$block}__item {
      border: 1px solid palette(grey, xx-light);
    }
  }

  &--hover-primary {
    #{$block}__item:hover {
      background-color: palette(primary);

      #{$block}__link {
        color: palette(white);
      }
    }

    #{$block}__link {
      text-decoration: none;
    }
  }
}